name: Create Release for new Tag

on:
  push:
    tags:        
      - '**'

jobs:

  build:
    runs-on: windows-latest
    permissions:
      contents: write
      packages: read

    steps:
    - name: Build
      id: build-action
      uses: xADDBx/BuildOwlcatMod@v2
      with:
        GAME_NAME: RogueTrader
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_NAME: ${{ github.repository_owner }}
        PACKAGE_OWNER: xADDBx

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.zipFile }}
        path: ${{ env.outDir }}
    
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ env.zipFilePath }}\*.zip
        name: ${{ env.ZipFile }} built for Rogue Trader ${{ env.gameVersionNum }}${{ env.gameVersionSuffix }}